body h3, h2 {
  color: white;
}

.grand-total {
  width: 250px;
}

.grand-total h3 {
  width: 160px;
  margin: 0px;
}

.grand-total h2 {
  float: left;
  margin: 0,0,0,0;
}

.jumbotron {
  background: url("img/Page-Background-4.jpg");
  color: #FFF;
}

.form-group  {

  float:left;

}

.col-sm-12 {
  height: 150px;
  /*width: 940px;*/
  /*padding: 30px;*/
}

.col-sm-12 h3 {
  margin-left: 30px;
}

#order {
  padding-left: 30px;
}

.form-group {
  height: 40;
  margin-right: 15px;
}

.1-100 {
  height: 35px;
  width: 82px;
}
